* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(230, 230, 230);
    height: 100%;
    width: 100%;
}

body {
    background-color: rgb(25, 25, 25);
    height: 100%;
    width: 100%;
}